{:example {:type :simple, :relation ["normal" 2], :term 1, :true-val "1", :false-val "0", :advanced-list []}, :background {:type :all-but-example, :relation-list [["div4" 1] ["year" 1] ["div100" 1] ["div400" 1]]}, :program "custom"}