{:clause {:clause-list [{:relation ["div100" 1], :determinacy "*", :terms [{:type "+", :value "year"}]} {:relation ["div400" 1], :determinacy "*", :terms [{:type "+", :value "year"}]} {:relation ["div4" 1], :determinacy "*", :terms [{:type "+", :value "year"}]} {:relation ["normal" 2], :determinacy "*", :terms [{:type "+", :value "year"} {:type "-", :value "group"}]}]}, :hypothesis {:autogenerate-hypothesis true, :hypothesis-list {["normal" 1] [["div100" 1] ["div4" 1] ["div400" 1]]}}}