{:example {:type :advanced, :relation ["class" 3], :term 2, :true-val "1", :false-val "1", :advanced-list [{:value "1", :value-type :positive, :relation ["class" 3], :relation-term 2}]}, :background {:type :all-but-example, :relation-list [["homeothermic" 1] ["has_legs" 2] ["has_gills" 1] ["habitat" 1] ["has_eggs" 1] ["habitat" 2] ["covering" 1] ["animal" 1] ["class" 1] ["has_covering" 2] ["has_milk" 1]]}, :program "induce_tree"}