{:clause {:clause-list [{:relation ["false" 0], :determinacy "1", :terms []} {:relation ["female" 1], :determinacy "1", :terms [{:type "+", :value "person"}]} {:relation ["male" 1], :determinacy "1", :terms [{:type "+", :value "person"}]} {:relation ["human" 1], :determinacy "*", :terms [{:type "-", :value "person"}]} {:relation ["not" 1], :determinacy "1", :terms [{:type "", :value "male(+person)"}]} {:relation ["not" 1], :determinacy "1", :terms [{:type "", :value "female(+person)"}]}]}, :hypothesis {:autogenerate-hypothesis false, :hypothesis-list {["false" 0] [["male" 1] ["human" 1] ["not" 1] ["female" 1]]}}}