{:example {:type :simple, :relation ["grandfather" 4], :term 3, :true-val "1", :false-val "0", :advanced-list []}, :background {:type :all-but-example, :relation-list [["father" 2] ["mother" 2] ["grandfather" 4]]}, :program "induce"}