{:clause {:clause-list [{:relation ["father" 2], :determinacy "1", :terms [{:type "+", :value "id"} {:type "-", :value "id"}]} {:relation ["father" 2], :determinacy "1", :terms [{:type "-", :value "id"} {:type "+", :value "id"}]} {:relation ["mother" 2], :determinacy "1", :terms [{:type "+", :value "id"} {:type "-", :value "id"}]} {:relation ["mother" 2], :determinacy "1", :terms [{:type "-", :value "id"} {:type "+", :value "id"}]} {:relation ["grandfather" 4], :determinacy "1", :terms [{:type "-", :value "gfid"} {:type "-", :value "id"} {:type "-", :value "id"} {:type "-", :value "class"}]}]}, :hypothesis {:autogenerate-hypothesis true, :hypothesis-list {["grandfather" 3] [["father" 2] ["mother" 2]]}}}