{:example {:type :simple, :relation ["mem" 3], :term 2, :true-val "1", :false-val "0", :advanced-list []}, :background {:type :all-but-example, :relation-list [["mem" 3]]}, :program "induce_constraints"}