{:example {:type :advanced, :relation nil, :term nil, :true-val nil, :false-val nil, :advanced-list []}, :background {:type :selected, :relation-list [["pracownikprodukcja" 6] ["pracownikpersonalia" 8] ["pracownik" 7] ["zamowienieszczegoly" 4] ["produkcja" 5] ["dzial" 6] ["klient" 9] ["zamowienie" 5] ["towar" 7]]}, :program "induce_features"}