{:example {:type :simple, :relation ["pracownik" 7], :term 6, :true-val "1", :false-val "0", :advanced-list []}, :background {:type :all-but-example, :relation-list [["pracownikprodukcja" 6] ["pracownikpersonalia" 8] ["pracownik" 7] ["zamowienieszczegoly" 4] ["produkcja" 5] ["dzial" 6] ["towar" 6] ["klient" 9] ["zamowienie" 5]]}, :program "induce"}