{:example {:type :advanced, :relation ["pracownik" 7], :term 6, :true-val "1", :false-val "0", :advanced-list [{:value "1", :value-type :positive, :relation ["pracownik" 7], :relation-term 6} {:value "0", :value-type :positive, :relation ["pracownik" 7], :relation-term 6}]}, :background {:type :selected, :relation-list [["pracownikprodukcja" 6] ["pracownikpersonalia" 8] ["pracownik" 7] ["zamowienieszczegoly" 4] ["produkcja" 5] ["dzial" 6] ["towar" 6] ["klient" 9] ["zamowienie" 5]]}, :program {:program "induce_features"}}